body {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 100;
  line-height: 19px;
  background: #fffffe;
  color: #232946;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  padding: 0;
}
ul {
  list-style: none;
}

img {
  height: 50px;
  width: 50px;
  margin-bottom: 0;
}
a:link {
  text-decoration: none;
}

button {
  cursor: pointer;
}
button,
input {
  border: none;
  outline: none;
}
form {
  padding: 20px;
  margin-bottom: auto, 0;
}
form input {
  font-size: 16px;
  color: rgba(35, 41, 70, 0.7);
  padding: 5px 5px 5px;
  border: 0.5px solid;
  border-color: #eebbc3;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 30px;
}
button {
  border-radius: 15px;
  height: 30px;
  width: 30px;
}
.time-date {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.full-wrap {
  padding: 0px;
  border: 1px solid #232946;

  border-radius: 40px;
  margin-top: 20px;
  margin-left: 10px;
  max-width: 600px;
  margin: 10px auto;
  text-align: center;
}

.weather-icon {
  margin-top: 0;
  height: 100px;
  width: 100px;
}
.current-temp {
  padding-top: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}
.temp-display {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  margin-top: 0;
}
.temp-type {
  font-size: 16px;
  margin-top: 5px;
  padding: 0;
}
.description {
  font-size: 36px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 25px;
  color: #232946;
}
.current-weather-characters {
  font-size: 14px;
  background: #eebbc3;
  color: #232946;
  display: flex;
  margin-top: 10px;
  margin-bottom: 0x;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 15px;
}
.current-weather-characters-paragraph {
  margin-bottom: 0;
}
.future-date {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0;
  padding: 5px;
}
.footer {
  font-size: 12px;
  margin-top: 20px;
}

.searchBar {
  margin-top: 10px;
}
